.c-inputGroup {
  position: relative;
  min-width: 8rem;
  @include media-breakpoint-down(md) {
    max-width: 5rem;
  }
  .form-control {
    text-align: center;
    background-color: #fff;
  }
  .c-inputGroup__minusBtn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .c-inputGroup__plusBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
