.c-inputGroup {
  position: relative;
  min-width: 8rem;
  .form-control {
    text-align-last: center;
    background-color: #fff;
  }
  .c-inputGroup__minusBtn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .c-inputGroup__plusBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}