.l-footer {
  margin-top: 74px;
  background-color: map-get($theme-colors , light);
  &__logo {
    background-color: map-get($theme-colors , dark);
    height: 32px;
    @include media-breakpoint-down(md) {
      height: 16px;
    }
  }
}