.l-section {
  margin-top: 30px;
  .l-section__title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 30px;
    padding-bottom: 1rem;
    position: relative;
    @include media-breakpoint-up(md) {
      &--maginTop {
        margin-top: 36px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 3rem;
      height: 3px;
      background-color: map-get($theme-colors, danger);
    }
  }
  .l-section__about {
    line-height: 1.5;
    text-align: justify;
  }
}