.l-section {
  margin-top: 30px;
  .l-section__title {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 30px;
    padding-bottom: 1rem;
    position: relative;
    @include media-breakpoint-up(md) {
      &--marginTop {
        margin-top: 36px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 3rem;
      height: 5px;
      background-color: map-get($theme-colors, danger);
    }
  }
  .l-section__about {
    line-height: 1.5;
    text-align: justify;
  }
}

.l-sectionImage {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 100%;
  .l-sectionImage__text {
    display: block;
    text-align: center;
    text-decoration: none;
    color: map-get($theme-colors, primary);
    transition: color .3s ease;
    background-color: $white;
    border-radius: .25rem;
    padding: .5rem 1rem;
    &:hover,&:active {
      color: map-get($theme-colors, dark);
    }
  }
  &.l-sectionImage--1 {
    background-image: url('~@/assets/images/section/section_1.png');
  }
  &.l-sectionImage--2 {
    background-image: url('~@/assets/images/section/section_2.png');
  }
  &.l-sectionImage--3 {
    background-image: url('~@/assets/images/section/section_3.png');
  }
  &.l-sectionImage--4 {
    background-image: url('~@/assets/images/section/section_4.png');
  }
  &.l-sectionImage--5 {
    background-image: url('~@/assets/images/section/section_5.png');
  }
  &.l-sectionImage--6 {
    background-image: url('~@/assets/images/section/section_6.png');
  }
  &.l-sectionImage--7 {
    background-image: url('~@/assets/images/section/section_videoImage.png');
  }
}

.l-cartImage {
  position: relative;
  .l-cartImage__text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}